* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  /* font-family: "Roboto", serif; */
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
  color: #5d6c7b;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.seporator {
  width: 100%;
  height: 2px;
  background: rgba(236, 243, 255, 1);
}

.bg {
  min-height: 27.8125rem;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.bg,
.section-cta-bg {
  width: calc(100% - 3.75rem);
}

.button {
  border-radius: 5px;
}

.section-title {
  color: #282739;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 2.075rem;
}

/* HEADER START */

.header__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.6875rem 0;
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  height: 100%;
}

.header__links--service-and-colaboration {
  display: flex;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  gap: 1.875rem;
  flex-wrap: wrap;
}

.header__links--service-and-colaboration a:hover {
  color: #6f73ee;
}

.header__links--messengers {
  display: flex;
  gap: 0.5313rem;
}

.viber {
  width: 0.75rem;
  height: 0.8125rem;
  fill: #5d6c7b;
}

.viber:hover {
  fill: #8f5db7;
}

.whatsapp {
  width: 0.8125rem;
  height: 0.8125rem;
  fill: #5d6c7b;
}

.whatsapp:hover {
  fill: #25d366;
}

.telegram {
  width: 0.75rem;
  height: 0.8125rem;
  fill: #5d6c7b;
}

.telegram:hover {
  fill: #0088cc;
}

.header__phone {
  color: #282739;
  font-size: 0.75rem;
  font-weight: 500;
}

.header__phone:hover {
  color: #6f73ee;
}

/* HEADER END */

/* section-search START */

.mobile__section-controls,
.mobile__section-search {
  display: none;
}

.section-search {
  margin-top: 1.6875rem;
  margin-bottom: 2.5rem;
}

.section-search__wrapper {
  display: flex;
  align-items: center;
}
.logo a {
  color: #282739;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 2.1875rem;
}

.button-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7.125rem;
  min-height: 2.5rem;
  height: 100%;
  border: 1.5px solid #6f73ee;
  background: #6f73ee;
  gap: 0.8125rem;
  padding: 0.5rem 0.75rem;
  margin-right: 1.25rem;
  transition: border 0.3s, background-color 0.3s;
}

.button-burger:hover {
  border: 1.5px solid #9194ee;
  background: #9194ee;
}

.toggle-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.3125rem;
}

.toggle-burger__line {
  width: 1.0188rem;
  height: 1.3px;
  background: #fff;
}

.toggle-burger__line:last-child {
  width: 50%;
}

.button-burger__text {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 2.5rem;
}

.search-input {
  width: 35.1875rem;
  height: 2.5rem;
  border-radius: 5px 0 0 5px;
  border: 2.7px solid #6f73ee;
  padding: 0.625rem 1.25rem;
}

.search-input:hover {
  border: 2.7px solid #9194ee;
}

.search-input::placeholder {
  color: #5d6c7b;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .search-input:focus {
  outline: none;
} */

.search-button {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 0px 5px 5px 0px;
  border: 2.7px solid #6f73ee;
  background: #6f73ee;
  transition: border 0.3s, background-color 0.3s;
}

.search-button:hover {
  border: 2.7px solid #9194ee;
  background: #9194ee;
}

.search-icon {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.section-search__wrapper--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.7625rem;
}

.balance-img {
  width: 1.25rem;
  height: 1.55rem;
  flex-shrink: 0;
}

.balance-img a {
  display: block;
  width: 1.875rem;
  height: 1.9rem;
}

.balance-icon {
  width: 100%;
  height: 100%;
}

.balance-icon:hover {
  fill: #6f73ee;
}

.favorite-img {
  width: 1.15rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.favorite-icon-header {
  width: 100%;
  height: 100%;
}

.favorite-icon-header:hover {
  fill: #6f73ee;
}

.cart-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.cart-link__wrapper:hover .cart-icon,
.cart-link__text {
  fill: #6f73ee;
}

.cart-link__wrapper:hover .cart-link__text {
  color: #6f73ee;
}

.cart-icon {
  fill: #282739;
  width: 1.05rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.cart-link__text {
  color: #282739;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
}

/* section-search END */

/* main-section START */
.main-section {
  margin-bottom: 6.2rem;
}

.no-webp .main-section--bg {
  background-image: url(../img/young-women.jpg);
}

.main-section--bg {
  position: relative;
  background-image: url(../img/young-women.webp);
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.main-section--bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    73deg,
    #6f73ee 32.37%,
    rgba(111, 115, 238, 0) 67.02%
  );
  z-index: 0;
}

.main-section__wrapper-content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 38.25rem;
  color: #fff;
  padding-top: 3.4rem;
  z-index: 1;
}

.main-section__wrapper-content--info {
  display: flex;
  align-items: center;
  gap: 0.525rem;
}

.main-section__wrapper-content--address {
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 0.7rem;
}

.timing {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-section--title {
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 1.1875rem 0 0.4375rem 0;
}

.main-section--description {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.65rem;
}

.benifits__wrapper {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 2.5rem;
  height: 100%;
}

.benifit {
  display: flex;
  align-items: center;
  width: 13.15rem;
  min-height: 2.5rem;
  height: 100%;
  gap: 1.125rem;
}

.benifit-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
}
.scooter-icon,
.enegry-icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.benifit-text {
  max-width: 8.9rem;
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

.button-sign-up {
  display: flex;
  max-width: 9.9375rem;
  padding: 0.8375rem 1.5625rem;
  justify-content: center;
  align-items: center;
  border: 1.3px solid #fff;
  background: #fff;
  color: #6f73ee;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: background-color 0.3s, color 0.3s;
}

.button-sign-up:hover {
  background: #6f73ee;
  color: #fff;
}

/* main-section END */

/* section-test-drive-practice START */
.section-test-drive-practice {
  position: relative;
  margin-bottom: 4.75rem;
}

.section-test-drive-practice__content {
  max-width: 40.3125rem;
  display: flex;
  flex-direction: column;
}

.section-test-drive-practice__text,
.section-learn__text {
  color: #282739;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 119%;
  margin-bottom: 1.025rem;
}

.test-drive-practice__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.test-drive-practice__item {
  display: flex;
  align-items: center;
  color: #282739;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}

.check-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  margin-right: 0.6875rem;
}

.item-bold {
  font-weight: 500;
}

.test-drive-practice__image {
  position: absolute;
  right: 0;
  top: -1.8125rem;
  max-width: 32.1875rem;
  flex-shrink: 0;
}

.test-drive-practice__picture img {
  border-radius: 10px;
  width: 32.1875rem;
  height: 26.375rem;
}
/* section-test-drive-practice END */

/* section-learn START */
.section-learn {
  position: relative;
  margin-bottom: 5.75rem;
}
.learn__image {
  position: absolute;
  left: 0;
  top: -1.75rem;
  max-width: 32.1875rem;
  flex-shrink: 0;
}

.learn__image img {
  border-radius: 10px;
  max-width: 32.1875rem;
  height: 28.975rem;
}

.section-learn__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section-learn__content {
  max-width: 39.7rem;
}

.learn__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.learn__item {
  display: flex;
  align-items: center;
  color: #282739;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}
/* section-learn END */

/* section-scooter-versions START */
.section-scooter-versions {
  display: flex;
  align-items: center;
  margin-bottom: 6.15rem;
}

.wrapper-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scooter-versions__title {
  text-align: center;
  width: 45.75rem;
  margin-bottom: 3.125rem;
}

.scooter-versions__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

.scooter-versions__card {
  width: calc((100% - 5.625rem) / 4);
  border-radius: 10px;
  border: 1.5px solid #eaebed;
  transition: all 0.3s;
}

.scooter-versions__card:hover {
  border: 1.5px solid #6f73ee;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  transform: scale(105%);
}

.no-webp .scooter-versions__card--image {
  background-image: url(../img/kugoo.jpg);
}

.scooter-versions__card--image {
  background-image: url(../img/kugoo.webp);
  background-color: #f0f1f5;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 14.4375rem;
  height: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0.625rem;
}

.card-image__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.2875rem;
  margin-right: 0.6875rem;
  padding-top: 0.175rem;
}

.badge-hit,
.badge-new {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.65rem;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
  border-radius: 5px;
}

.badge-hit {
  width: 2.5625rem;
  height: 1.5625rem;
  background: #ee685f;
}

.badge-new {
  width: 4.0375rem;
  height: 1.5625rem;
  background: #75d14a;
}

.add-to-compare-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.1875rem;
  height: 2.1875rem;
  margin-top: 0.3rem;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  transition: border 0.3s;
}

.add-to-compare-button:hover {
  border: 2px solid #6f73ee;
}

.compare-icon {
  fill: #5d6c7b;
  padding-top: 0.3rem;
  width: 1.25rem;
  height: 2.25rem;
  flex-shrink: 0;
  transition: fill 0.3s;
}

.compare-icon:hover {
  fill: #6f73ee;
}

.scooter-versions__card--content {
  display: flex;
  flex-direction: column;
  margin: 1.15rem 1.7625rem 0 1.4625rem;
}

.scooter-versions__card--title {
  color: #282739;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.125rem;
}

.scooter-versions__card--info {
  display: flex;
  flex-direction: column;
}

.scooter-versions__card--specification-list {
  columns: 2 auto;
  margin-bottom: 1.2625rem;
}

.specification-item {
  display: flex;
  align-items: center;
  color: #5d6c7b;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  column-gap: 0.625rem;
  padding-top: 1.125rem;
}

.specification-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.scooter-versions__card--controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.old-price {
  color: #5d6c7b;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: line-through;
}
.current-price {
  color: #282739;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}
.buttons-wrapper {
  display: flex;
  gap: 0.425rem;
}
.scooter-versions__card--button,
.scooter-versions__favorite--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1.5px solid #eaebed;
  flex-shrink: 0;
  transition: border 0.5s;
}

.scooter-versions__card--button:hover,
.scooter-versions__favorite--button:hover {
  border: 1.5px solid #6f73ee;
}

.scooter-versions__card--button:hover .cart-icon-2,
.scooter-versions__favorite--button:hover .favorite-icon {
  fill: #6f73ee;
}

/* .cart-icon-2:hover,
.favorite-icon:hover {
  fill: #6f73ee;
} */

.card-button-sign-up {
  display: flex;
  max-width: 12.875rem;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  background: #6f73ee;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.25rem;
  transition: background-color 0.3s;
}

.card-button-sign-up:hover {
  background: #9194ee;
}

.cart-icon-2,
.favorite-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}
/* section-scooter-versions END */

/* section-cta START */
.section-cta {
  margin-bottom: 6.25rem;
}

.section-cta-bg {
  border-radius: 10px;
  background: #f4f7fb;
  margin: 0 auto;
}

.section-cta-wrapper {
  position: relative;
}

.section-cta__form {
  max-width: 38.3125rem;
  display: flex;
  flex-direction: column;
  padding-top: 2.6rem;
  padding-bottom: 1.775rem;
}

.section-cta__form--text {
  color: #282739;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.25rem;
}

.input-box {
  min-height: 3.4375rem;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.15rem;
}

.input {
  max-width: 16.4375rem;
  width: 100%;
  min-height: 3.3125rem;
  height: 100%;
  padding: 0.8375rem 1.5625rem;
}

.input::placeholder {
  color: #5d6c7b;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.48px;
}

.card-button-sign-up-cta {
  display: flex;
  min-width: 16.125rem;
  width: 100%;
  min-height: 3.3125rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

.checkbox-agreement__wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

/* checkbox-customization START */

.input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.input-checkbox + label::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.9375rem;
  height: 0.9375rem;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.3125rem;
  background-size: contain;
}

.input-checkbox:checked + label::before {
  background-color: #fff;
  background-image: url(../img/icons/check.svg);
}

.input-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border: 1px solid #b3d7ff;
}

.input-checkbox:not(:disabled):checked + label:hover::before {
  background-color: #b3d7ff;
  border: 1px solid #b3d7ff;
}

/* checkbox-customization END */

.checkbox-agreement__wrapper--text {
  max-width: 19.1875rem;
  color: #282739;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
}

.link-to-policy {
  color: #282739;
  text-decoration: underline;
}

.link-to-policy:hover {
  color: #6f73ee;
}

.section-cta__form__image {
  max-width: 23.325rem;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.section-cta__form__picture {
  display: flex;
}

.section-cta__form__picture img {
  max-height: 30.8rem;
}
/* section-cta END */

/* section-discount-offer START */

.section-discount-offer__bg {
  background: #6f73ee;
}

.section-discount-offer__wrapper {
  display: flex;
  align-items: center;
  gap: 5.9375rem;
  padding: 1.5rem 0 1.3125rem 0;
}
.section-discount-offer__wrapper--title {
  max-width: 27.8125rem;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.input-email__form {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.input-email {
  display: flex;
  min-width: 25.625rem;
  padding: 0.9375rem 1.5625rem;
  border-radius: 5px;
  border: none;
  gap: 1.25rem;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

.input-email::placeholder {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
/* section-discount-offer END */

footer {
  background: #f4f7fb;
  padding-top: 2.875rem;
  padding-bottom: 0.1rem;
}

/* footer-top START */
.footer-top {
  margin-bottom: 4.6875rem;
}

.mobile__footer-top {
  display: none;
}

.footer-top__wrapper {
  display: flex;
}

.goods-catalogue__wrapper {
  width: 8.125rem;
  display: flex;
  flex-direction: column;
  margin-right: 7.8125rem;
}

.footer-top--title {
  color: #282739;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.0625rem;
}

.footer-top__list {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 0.625rem;
}

.footer-top__list--item {
  padding-bottom: 0.625rem;
}

.footer-top__list--item:hover a {
  color: #6f73ee;
}

.for-purchases__wrapper {
  min-width: 16.875rem;
  margin-right: 5.875rem;
}

.for-purchases__wrapper--list {
  columns: 2 auto;
  column-gap: 2.875rem;
}

.contacts__wrapper {
  margin-right: 3.4875rem;
}

.contacts-info__wrapper {
  display: flex;
  gap: 2.5rem;
}
.contacts-info__inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contacts-info__inner--text {
  color: #282739;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
}

.contacts-info__inner--phone {
  color: #282739;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contacts-info__inner--phone:hover {
  color: #6f73ee;
}

.contacts-info__inner--timing {
  color: #5d6c7b;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.order-call-link {
  padding-top: 0.3rem;
  padding-left: 1.3rem;
}

.order-call {
  color: #6f73ee;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.2s;
}

.order-call:hover {
  color: #070ff3;
}
/* footer-top END */

/* footer-middle START */
.footer-middle {
  margin-top: 1.55rem;
  margin-bottom: 1.85rem;
}

.footer-middle__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-middle__mobile-stores--buttons {
  display: flex;
  gap: 0.625rem;
  margin-right: 14.425rem;
}

.mobile-store-button {
  max-width: 9.375rem;
  height: 2.75rem;
}

.mobile-store-button img {
  width: 100%;
  height: 100%;
}

.store-icon {
  width: 100%;
  height: 100%;
}

.footer-middle__sociales--buttons {
  display: flex;
  gap: 0.625rem;
}

.social-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 7.6875rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 5px;
  padding: 0.3125rem 0.75rem;
  gap: 0.8rem;
  transition: border 0.7s;
}

.social-button:hover {
  border: 1px solid #6f73ee;
}

.social-image {
  width: 1.2625rem;
  height: 1.2625rem;
  flex-shrink: 0;
}

.vk-icon,
.youtube-icon,
.telegram-icon {
  width: 100%;
  height: 100%;
}

.social-button-description {
  display: flex;
  flex-direction: column;
}

.social-button--text {
  color: #282739;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
}
.social-button--text-number {
  font-size: 0.625rem;
  font-weight: 400;
  line-height: normal;
}
/* footer-middle END */

/* footer-bottom START */
.footer-bottom {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.footer-bottom__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-and-policy__box {
  display: flex;
  gap: 2.75rem;
  margin-right: 22.5375rem;
}

.details,
.policy {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
}

.details:hover,
.policy:hover {
  color: #6f73ee;
}

.payment-methods__list {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  margin-right: 1.0125rem;
}

.payment-methods__item {
  width: 2.0798rem;
  height: 1.5854rem;
  flex-shrink: 0;
  background-color: #fff;
  border: 1px solid #eaebed;
  border-radius: 5px;
  padding: 0.188rem 0.1375rem;
}

.payment-icon {
  width: 100%;
  height: 100%;
}

.online-chat__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2375rem;
}

.online-chat__text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
}

.footer__links--messengers {
  display: flex;
  align-items: center;
}

.footer__links--messengers .viber,
.footer__links--messengers .whatsapp,
.footer__links--messengers .telegram {
  width: 1.85rem;
  height: 1.1125rem;
}
/* footer-bottom END */

/* modal START */
.modal {
  display: none;
  max-width: 49.375rem;
  min-height: 36.075rem;
  border-radius: 5px;
  padding: 0.875rem;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.4rem;
}

.modal-close {
  width: 1.5rem;
  height: 1.5rem;
}

.close-icon {
  width: 100%;
  height: 100%;
}

.modal-container {
  display: flex;
  max-width: 43rem;
  margin: 0 auto;
  gap: 1.25rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  max-width: 20.075rem;
}

.modal-dialog__top {
  margin-bottom: 5.375rem;
}

.modal-title {
  width: 17.3125rem;
  color: #282739;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0.5625rem;
}

.modal-subtitle {
  color: #282739;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 1.8125rem;
}

.modal-text {
  color: #282739;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* .modal-dialog__bottom {
} */

.modal-text-question {
  color: #5d6c7b;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.25rem;
}

.modal-form-button {
  display: flex;
  max-width: 16.475rem;
  width: 100%;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  background: #6f73ee;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.25rem;
  transition: background-color 0.3s;
}

.modal-form-button:hover {
  background: #9194ee;
}

.modal-checkbox-agreement__wrapper {
  align-items: flex-start;
}
.modal__link-to-policy {
  color: #6f73ee;
  text-decoration: none;
}

.modal__link-to-policy:hover {
  color: #9194ee;
}

/* .no-webp .modal-image {
  background-image: url(../img/modal-image.jpg);
}

.modal-image {
  background-image: url(../img/modal-image.webp);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 23.75rem;
  height: 31.1499rem;
  border-radius: 10px;
} */

/* .modal-image {
  max-width: 23.75rem;
  min-height: 31.1499rem;
  width: 100%;
  height: 100%;
  border-radius: 10px;
} */

.modal-image img {
  border-radius: 10px;
  max-width: 23.75rem;
  height: 31.1499rem;
}

/* modal END */

@media (max-width: 1750px) {
  html {
    font-size: 18px;
  }

  .section-cta__form {
    padding-top: 3.6rem;
    padding-bottom: 2.775rem;
  }
}

@media (max-width: 1580px) {
  html {
    font-size: 17px;
  }

  .section-cta__form__picture img {
    max-height: 27.8rem;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 16px;
  }

  .main-section--bg {
    background-size: 1100px 458px;
  }

  .section-cta__form {
    padding-top: 5.6rem;
    padding-bottom: 4.775rem;
  }

  .section-cta__form__image {
    max-width: 28.325rem;
  }

  .section-cta__form__picture img {
    max-height: 30.8rem;
  }
}

@media (max-width: 1260px) {
  html {
    font-size: 15px;
  }
  .container {
    max-width: 64.375rem;
  }

  .search-input {
    max-width: 30.1875rem;
  }

  .main-section--bg {
    background-size: contain;
  }

  .test-drive-practice__picture img {
    max-width: 28.1875rem;
    height: 23.375rem;
  }

  .learn__image img {
    max-width: 28.1875rem;
    height: 25.375rem;
  }

  .scooter-versions__card {
    width: calc((100% - 3.625rem) / 2);
    flex-basis: 33%;
  }

  .scooter-versions__card--image {
    min-height: 17.4375rem;
  }

  .card-button-sign-up {
    max-width: 18.875rem;
    padding: 1.025rem 1.25rem;
    font-size: 0.9rem;
  }

  .footer-top__wrapper {
    justify-content: space-between;
  }

  .goods-catalogue__wrapper,
  .for-purchases__wrapper,
  .contacts__wrapper {
    margin-right: 0;
  }

  .mobile-store-button {
    max-width: 11.375rem;
  }

  .footer-middle__mobile-stores--buttons {
    margin-right: 10.625rem;
  }

  .details-and-policy__box {
    margin-right: 10.0375rem;
  }
}

@media (max-width: 1164px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 69.375rem;
  }
  .search-input {
    width: calc(100% + 24rem);
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 60rem;
  }

  .bg {
    min-height: 25.4125rem;
  }

  .main-section__wrapper-content {
    padding-top: 2.5rem;
  }

  .section-title {
    font-size: 1.7875rem;
  }

  .section-learn__content {
    max-width: 31.5rem;
  }

  .section-cta__form__image {
    max-width: 20.325rem;
  }

  .section-cta__form__picture img {
    max-height: 30.4375rem;
  }

  .contacts__wrapper {
    margin-right: -0.3125rem;
  }

  .details-and-policy__box {
    margin-right: 9.0375rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 53rem;
  }

  .section-title {
    font-size: 1.5875rem;
  }

  .search-input {
    width: 100%;
  }

  .main-section--bg::before {
    background: linear-gradient(
      79deg,
      #6f73ee 32.37%,
      rgba(111, 115, 238, 0) 77.02%
    );
  }

  .section-test-drive-practice__content {
    max-width: 37.3125rem;
  }

  .test-drive-practice__picture img {
    max-width: 24.1875rem;
    height: 20.375rem;
  }

  .section-learn__wrapper {
    margin-left: 26rem;
  }

  .learn__image img {
    max-width: 25.1875rem;
    height: 23.575rem;
  }

  .section-cta__form {
    max-width: 100%;
  }

  .section-cta__form__image {
    display: none;
  }

  .section-discount-offer__wrapper {
    gap: 0.9375rem;
  }

  .input-email {
    min-width: 14.625rem;
  }

  .goods-catalogue__wrapper,
  .for-purchases__wrapper {
    margin-right: 0;
  }

  .contacts-info__wrapper {
    flex-direction: column;
    gap: 1.3rem;
  }

  .mobile-store-button {
    width: 9rem;
  }

  .social-button {
    background-color: #f4f7fb;
    width: 2.6875rem;
  }

  .social-button--text,
  .social-button--text-number {
    display: none;
  }

  .details-and-policy__box {
    margin-right: 2.0375rem;
  }

  /* switch off of hover effects  */

  .header__links--service-and-colaboration a:hover {
    color: #5d6c7b;
  }

  .viber {
    fill: #8f5db7;
  }

  .whatsapp {
    fill: #25d366;
  }

  .telegram {
    fill: #0088cc;
  }

  .header__phone:hover {
    color: #282739;
  }

  .button-burger:hover {
    border: 1.5px solid #6f73ee;
    background: #6f73ee;
  }

  .search-input:hover {
    border: 2.7px solid #6f73ee;
  }

  .search-button:hover {
    border: 2.7px solid #6f73ee;
    background: #6f73ee;
  }

  .balance-icon {
    fill: #6f73ee;
  }

  .favorite-icon-header {
    fill: #6f73ee;
  }

  .cart-icon,
  .cart-link__text {
    fill: #6f73ee;
    color: #6f73ee;
  }

  .button-sign-up {
    background: #6f73ee;
    color: #fff;
  }

  .scooter-versions__card:hover {
    border: 1.5px solid #eaebed;
    box-shadow: none;
    transition: none;
    transform: none;
  }

  .add-to-compare-button {
    border: 2px solid #6f73ee;
  }

  .compare-icon {
    padding-top: 0.1rem;
  }

  .scooter-versions__card--button,
  .scooter-versions__favorite--button {
    border: 1.5px solid #6f73ee;
  }

  .scooter-versions__card--button .cart-icon-2,
  .scooter-versions__favorite--button .favorite-icon {
    fill: #6f73ee;
  }

  .compare-icon,
  .cart-icon-2,
  .favorite-icon {
    fill: #6f73ee;
  }

  .add-to-compare-button {
    border: 2px solid #6f73ee;
  }

  .card-button-sign-up:hover {
    background: #6f73ee;
  }

  .link-to-policy:hover {
    color: #282739;
  }

  .input-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border: 1px solid #fff;
  }

  .input-checkbox:not(:disabled):checked + label:hover::before {
    background-color: #fff;
    border: 1px solid #fff;
  }

  .footer-top__list--item:hover a {
    color: #5d6c7b;
  }

  .contacts-info__inner--phone:hover {
    color: #282739;
  }

  .order-call:hover {
    color: #6f73ee;
  }

  .social-button:hover {
    border: none;
  }

  .details:hover,
  .policy:hover {
    color: #5d6c7b;
  }

  .modal__link-to-policy:hover {
    color: #6f73ee;
  }

  .modal-form-button:hover {
    background: #6f73ee;
  }
  /* switch off of hover effects  */
}

@media (max-width: 860px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 90%;
  }

  .main-section--bg {
    background: none;
    min-height: 100%;
  }

  .main-section--bg::before {
    background: linear-gradient(
      79deg,
      #6f73ee 100%,
      rgba(111, 115, 238, 0) 77.02%
    );
  }

  .button-sign-up {
    margin-bottom: 1rem;
  }

  .test-drive-practice__image,
  .learn__image {
    position: relative;
  }

  .section-title {
    margin-top: 1rem;
    text-align: center;
  }

  .section-test-drive-practice__content {
    max-width: 100%;
    align-items: center;
  }

  .section-learn__wrapper {
    align-items: flex-start;
    margin-left: 0;
  }

  .section-learn__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-cta__form {
    padding-top: 2.6rem;
    padding-bottom: 3.975rem;
  }
}

@media (max-width: 650px) {
  .cart-link__text {
    display: none;
  }

  .scooter-versions__card {
    width: 100%;
    flex-basis: 50%;
  }

  .section-discount-offer__wrapper {
    flex-direction: column;
  }

  .input-email {
    min-width: 27.625rem;
  }

  .section-discount-offer__wrapper--title {
    text-align: center;
  }

  .footer-middle__mobile-stores--buttons {
    margin-right: 0;
  }

  .details-and-policy__box,
  .online-chat__box {
    flex-direction: column;
    gap: 0.0625rem;
  }
}

@media (max-width: 550px) {
  .main-section--title {
    font-size: clamp(1rem, -2.404rem + 12.52vw, 1.9rem);
  }

  .main-section__wrapper-content {
    padding-top: 1.5rem;
  }

  .mobile__section-controls,
  .mobile__section-search {
    display: block;
    margin-top: 1rem;
  }

  .mobile__section-search {
    margin-bottom: 1rem;
  }

  .section-controls__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .mobile__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .section-search {
    display: none;
  }

  .section-search__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button-burger,
  .search-box {
    margin-right: 0;
  }

  .search-box {
    justify-content: flex-end;
  }

  .input-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-input {
    width: 50%;
  }

  .input {
    max-width: 18.7375rem;
  }

  .input-email {
    width: 100%;
    min-width: 14.625rem;
  }

  .footer-top {
    display: none;
  }

  .mobile__footer-top {
    display: block;
    margin-bottom: 2rem;
  }

  .footer-top__wrapper {
    justify-content: flex-start;
  }

  .goods-catalogue__wrapper {
    margin-right: 5rem;
    margin-bottom: 2rem;
  }

  .contacts__box {
    display: flex;
    justify-content: space-between;
  }

  .footer-bottom__wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .footer-middle__wrapper {
    flex-direction: column;
  }

  .footer-middle--logo a {
    font-size: 3rem;
  }

  .mobile-store-button {
    width: 8rem;
  }

  .modal {
    max-width: 29.375rem;
    min-height: 100%;
  }

  .modal-container {
    max-width: 88%;
  }

  .modal-content {
    max-width: 100%;
  }

  .modal-dialog__top {
    margin-bottom: 2.375rem;
  }

  .modal-title {
    width: 100%;
  }

  .modal-image img {
    display: none;
  }
}

@media (max-width: 450px) {
  .test-drive-practice__item {
    align-items: flex-start;
  }
  .search-input {
    width: 70%;
  }
  .header__links--service-and-colaboration {
    gap: 1rem;
  }
  .header__links {
    gap: 0.875rem;
  }
}

@media (max-width: 375px) {
  .bg {
    min-height: 28.9125rem;
  }

  .main-section__wrapper-content--info {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.225rem;
  }

  .main-section--title {
    font-size: 1.5rem;
  }

  .benifits__wrapper {
    flex-direction: column;
    gap: 1.175rem;
    margin-bottom: 1.6rem;
  }

  .button-sign-up {
    margin-bottom: 1rem;
  }

  .section-test-drive-practice__content,
  .section-learn__content {
    align-items: flex-start;
  }

  .section-test-drive-practice .container,
  .section-learn .container {
    max-width: 30rem;
  }

  .test-drive-practice__picture img,
  .learn__image img {
    max-width: 100%;
    height: 100%;
  }

  .section-title {
    text-align: start;
  }

  .scooter-versions__title {
    text-align: center;
    margin-bottom: 1.825rem;
  }

  .mobile__footer-top {
    display: block;
    margin-bottom: 2.5rem;
  }

  .footer-top__wrapper {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
