* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  /* font-family: "Roboto", serif; */
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
  color: #5d6c7b;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.seporator {
  width: 100%;
  height: 2px;
  background: rgba(236, 243, 255, 1);
}

.bg {
  max-width: 86.25rem;
  min-height: 27.8125rem;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.button {
  border-radius: 5px;
}

.section-title {
  color: #282739;
  font-size: 2.0875rem;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}

/* HEADER START */

.header__wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.6875rem 0;
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  height: 100%;
}

.header__links--service-and-colaboration {
  display: flex;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  gap: 1.875rem;
  flex-wrap: wrap;
}

.header__links--service-and-colaboration a:hover {
  color: #6f73ee;
}

.header__links--socials {
  display: flex;
  gap: 0.5313rem;
}

.viber {
  width: 0.75rem;
  height: 0.8125rem;
  fill: #5d6c7b;
}

.viber:hover {
  fill: #8f5db7;
}

.whatsapp {
  width: 0.8125rem;
  height: 0.8125rem;
  fill: #5d6c7b;
}

.whatsapp:hover {
  fill: #25d366;
}

.telegram {
  width: 0.75rem;
  height: 0.8125rem;
  fill: #5d6c7b;
}

.telegram:hover {
  fill: #0088cc;
}

.header__phone {
  color: #282739;
  font-size: 0.75rem;
  font-weight: 500;
}

.header__phone:hover {
  color: #6f73ee;
}

/* HEADER END */

/* section-search START */
.section-search {
  margin-top: 1.6875rem;
  margin-bottom: 2.5rem;
}

.section-search__wrapper {
  display: flex;
  align-items: center;
}
.logo a {
  color: #282739;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 2.1875rem;
}

.button-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7.125rem;
  min-height: 2.5rem;
  height: 100%;
  border: 1.5px solid #6f73ee;
  background: #6f73ee;
  gap: 0.8125rem;
  padding: 0.5rem 0.75rem;
  margin-right: 1.25rem;
}

.toggle-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.3125rem;
}

.toggle-burger__line {
  width: 1.0188rem;
  height: 1.3px;
  background: #fff;
}

.toggle-burger__line:last-child {
  width: 50%;
}

.button-burger__text {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5rem;
}

.search-input {
  width: 35.1875rem;
  height: 2.5rem;
  border-radius: 5px 0 0 5px;
  border: 2.7px solid #6f73ee;
  padding: 0.625rem 1.25rem;
}

.search-input::placeholder {
  color: #5d6c7b;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-input:focus {
  outline: none;
}

.search-button {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 0px 5px 5px 0px;
  border: 2.7px solid #6f73ee;
  background: #6f73ee;
}

.search-icon {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.section-search__wrapper--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5625rem;
}

.balance-img {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.balance-img:hover,
.favorite-img:hover {
  width: 1.5rem;
  height: 1.5rem;
}

.balance-icon {
  width: 100%;
  height: 100%;
}

.favorite-img {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.favorite-icon {
  width: 100%;
  height: 100%;
}

.cart-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.cart-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}

.cart-link__text {
  color: #282739;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
}

.cart-link__text:hover {
  color: #6f73ee;
}

/* section-search END */

/* main-section START */
.main-section {
  margin-bottom: 4.5rem;
}

.no-webp .main-section--bg {
  background-image: url(../img/young-women.jpg);
}

.main-section--bg {
  position: relative;
  background-image: url(../img/young-women.webp);
  background-size: 1454px 603px;
  background-position: right top;
  background-repeat: no-repeat;
}

.main-section--bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    73deg,
    #6f73ee 17.37%,
    rgba(111, 115, 238, 0) 67.02%
  );
  z-index: 0;
}

.main-section__wrapper-content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 38.25rem;
  color: #fff;
  padding-top: 3.5rem;
  z-index: 1;
}

.main-section__wrapper-content--info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.main-section__wrapper-content--address {
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.timing {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-section--title {
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 1.1875rem 0 0.4375rem 0;
}

.main-section--description {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.25rem;
}

.benifits__wrapper {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 2.5rem;
  height: 100%;
}

.benifit {
  display: flex;
  align-items: center;
  width: 12.75rem;
  min-height: 2.5rem;
  height: 100%;
  gap: 0.625rem;
}

.benifit-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
}
.scooter-icon,
.enegry-icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.benifit-text {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

.button-sign-up {
  display: flex;
  max-width: 9.9375rem;
  padding: 0.9375rem 1.5625rem;
  justify-content: center;
  align-items: center;
  border: 1.3px solid #fff;
  background: #fff;
  color: #6f73ee;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: background, color 0.5s;
}

.button-sign-up:hover {
  background: #6f73ee;
  color: #fff;
}

/* main-section END */

/* section-test-drive-practice START */
.section-test-drive-practice {
  position: relative;
  margin-bottom: 3.25rem;
}

.section-test-drive-practice__content {
  max-width: 36.3125rem;
  display: flex;
  flex-direction: column;
}

.section-test-drive-practice__text,
.section-learn__text {
  color: #282739;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 119%;
  margin-bottom: 1.125rem;
}

.test-drive-practice__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.test-drive-practice__item {
  display: flex;
  align-items: center;
  color: #282739;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}

.check-icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  margin-right: 0.6875rem;
}

.item-bold {
  font-weight: 500;
}

.test-drive-practice__image {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 32.1875rem;
  flex-shrink: 0;
}

.test-drive-practice__picture img {
  border-radius: 10px;
}
/* section-test-drive-practice END */

/* section-learn START */
.section-learn {
  position: relative;
  margin-bottom: 3.25rem;
}
.learn__image {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 32.1875rem;
  flex-shrink: 0;
}

.learn__image img {
  border-radius: 10px;
}

.section-learn__content {
  max-width: 36.5rem;
  margin-left: 23.4rem;
}

.learn__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.learn__item {
  display: flex;
  align-items: center;
  color: #282739;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
}
/* section-learn END */

/* section-scooter-versions START */
.section-scooter-versions {
  display: flex;
  align-items: center;
  margin-bottom: 3.25rem;
}

.wrapper-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scooter-versions__title {
  text-align: center;
  width: 45.75rem;
  margin-bottom: 3.125rem;
}

.scooter-versions__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

.scooter-versions__card {
  width: calc((100% - 5.625rem) / 4);
  border-radius: 10px;
  border: 1.5px solid #eaebed;
  transition: all 0.3s;
}

.scooter-versions__card:hover {
  border: 1.5px solid #6f73ee;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  transform: scale(105%);
}

.no-webp .scooter-versions__card--image {
  background-image: url(../img/kugoo.jpg);
}

.scooter-versions__card--image {
  background-image: url(../img/kugoo.webp);
  background-color: #f0f1f5;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 14.4375rem;
  height: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0.625rem;
}

.card-image__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0.6875rem;
  margin-right: 0.7875rem;
  padding-top: 0.875rem;
}

.beige-hit,
.beige-new {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.65rem;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
  border-radius: 5px;
}

.beige-hit {
  width: 2.5625rem;
  height: 1.5625rem;
  background: #ee685f;
}

.beige-new {
  width: 3.4375rem;
  height: 1.5625rem;
  background: #75d14a;
}

.add-to-compare-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.1875rem;
  height: 2.1875rem;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  transition: border 0.3s;
}

.add-to-compare-button:hover {
  border: 2px solid #6f73ee;
  filter: grayscale(0%);
}

.compare-icon {
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.compare-icon:hover {
  filter: grayscale(0%);
}

.scooter-versions__card--content {
  display: flex;
  flex-direction: column;
  margin: 1.25rem 1.5625rem 0 1.5625rem;
}

.scooter-versions__card--title {
  color: #282739;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.125rem;
}

.scooter-versions__card--info {
  display: flex;
  flex-direction: column;
}

.scooter-versions__card--specification-list {
  columns: 2 auto;
  margin-bottom: 1.5625rem;
}

.specification-item {
  display: flex;
  align-items: center;
  color: #5d6c7b;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  column-gap: 0.625rem;
  padding-top: 1.125rem;
}

.specification-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.scooter-versions__card--controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.old-price {
  color: #5d6c7b;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: line-through;
}
.current-price {
  color: #282739;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}
.buttons-wrapper {
  display: flex;
  gap: 0.625rem;
}
.scooter-versions__card--button,
.scooter-versions__favorite--button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1.5px solid #eaebed;
  flex-shrink: 0;
  transition: border 0.5s;
}

.scooter-versions__card--button:hover,
.scooter-versions__favorite--button:hover {
  border: 1.5px solid #6f73ee;
}

.card-button-sign-up {
  display: flex;
  max-width: 12.875rem;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  background: #6f73ee;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.25rem;
  transition: background 0.3s;
}

.card-button-sign-up:hover {
  background: #9194ee;
}
/* section-scooter-versions END */

@media (max-width: 1440px) {
  html {
    font-size: 16px;
  }

  .main-section--bg {
    background-size: 1110px 479px;
  }
}

@media (max-width: 992px) {
  .header__links--service-and-colaboration a:hover {
    color: #5d6c7b;
  }

  .viber {
    fill: #8f5db7;
  }

  .whatsapp {
    fill: #25d366;
  }

  .telegram {
    fill: #0088cc;
  }

  .header__phone:hover {
    color: #282739;
  }

  .balance-img:hover {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
  }

  .favorite-img:hover {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
  }

  .cart-link__text:hover {
    color: #282739;
  }

  .button-sign-up:hover {
    background: #fff;
    color: #6f73ee;
  }

  .scooter-versions__card:hover {
    border: 1.5px solid #eaebed;
    box-shadow: none;
    transition: none;
    transform: none;
  }

  .scooter-versions__card--button:hover,
  .scooter-versions__favorite--button:hover {
    border: 1.5px solid #eaebed;
  }

  .add-to-compare-button:hover {
    border: 2px solid rgba(255, 255, 255, 0.2);
  }

  .compare-icon:hover {
    filter: grayscale(100%);
  }

  .card-button-sign-up:hover {
    background: #6f73ee;
  }
}
